/* font-family: "Roboto Mono", monospace;
font-family: "Roboto Slab", serif; */
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
}
:root {
  --principal_green : #48CFAD;
  --principal_gray : #434A54
  --ligth_gray_sotf : #E6E9ED;
  --ligth_gray_hrad : #CCD1D9;
  --dark_gray_sotf : #656D78;
  --dark_gray_hard : #23282D;
  --secundary_purple : #AC92EB;
  --secundary_green: #A0D368;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--principal_green);
}

.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.logo-section img {
  width: 30%;
  padding-left: 20px;
}

.logo-section a {
  padding-right: 40px;
  color: white;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
  font-weight: 400;
  letter-spacing: 2px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
}

.social-red {
  display: inline-block;
  margin: 0 10px;
}
.social-red {
  /* background-image: url('/Assets/Social_Media/svg/001-facebook.svg'); */
  color: white;
}

.container-main {
  background-image: url('../Assets/imagenes/Cover.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  right: 0;
  left: 0;
  top: 50px;
  bottom: 0;
}

.main {
  text-align: center;
  align-items: center;
  margin-top: 110px;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700px;
  letter-spacing: 10px;
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}

.main form button {
  width: 120px;
  height: 50px;
  font-size: 15px;
  font-weight: 900;
}

/* Clases de blogs
 */

 .footer {
   height: 50px;
   position: relative;
   bottom: 0;
   background-color: var(--dark_gray_hard);
 }

 .logo-section a.about-black {
   color: var(--dark_gray_hard);
 }

 .main-image {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 40px 40px
 }
 .main-image img {
   max-width: 100%;
   height: auto;
 }